<div class="bg-white border-1 border-gray-200 p-5 rounded mt-2">
    <div class="flex mb-5 items-center gap-2">
        <lucide-angular class="h-5 w-5" [class.text-red-600]="status()==='In-Progress'" [class.text-green-600]="status()==='completed'" [img]="status()==='completed'?CircleCheckBig:CircleAlert">
        </lucide-angular>
        <div class="flex justify-between w-full">
            <div>
                <h2>{{type()}}</h2>
                <p class="text-sm text-gray-600">{{year()}} {{car()}}({{license()}})</p>
            </div>
            <div>
                <p>Ksh{{price()}}</p>
                <app-progress-status [status]="status()">

                </app-progress-status>
            </div>
        </div>
    </div>
    <div class="flex justify-between text-gray-600 text-xs">
        <p>Service Date: {{date()}}</p>
        <p>Service ID: #{{id()}}</p>
    </div>
</div>