<app-auth-form
    title="Sign Up"
    subtitle="Enter your credentials to sign up"
    btnText="Sign Up"
    linkText="Already have an account? "
    linkUrl="/login"
    linkActionTxt="Login"
>
    <app-f-input type="text" label="name" placeholder="Enter your name"></app-f-input>
    <app-f-input type="email" label="Email" placeholder="Enter your email"></app-f-input>
    <app-f-input type="password" label="Password" placeholder="Enter your password"></app-f-input>
    <app-f-input type="password" label="confirm_password" placeholder="Confirm your password"></app-f-input>
</app-auth-form>

