<div class="bg-white flex rounded-[10px] border-1 border-gray-200 p-3 justify-between">
    <div>
        <h2 class="mb-2">{{serviceType()}}</h2>
        <p class="text-sm text-gray-600 mb-2">{{year()}} {{model()}} {{plate()}}</p>
        <p class="text-sm text-gray-600">Customer: {{customer()}}</p>
    </div>
    <div>
        <p class="mb-2">Ksh{{dueAmount()}}</p>
        <app-progress-status [status]="status()"></app-progress-status>
        <div class="mt-2">
            <app-button content="Complete & Collect Payment"></app-button>
        </div>
    </div>
</div>
